.pm-navbar {
    border: black solid 2px;
    display: flex;
    justify-content: flex-start;
    padding: 0 1em;

    a {
        padding: 1em;
        transition-duration: 400ms;
        text-decoration: none;
        &.highlighted {
            background-color: #23BCF6;
        }
        &:visited {
            color: inherit;
        }
    }
}